@media(max-width:600px){
    body{
        background-color: #ffff; 
    }
}html {
  scroll-behavior: smooth;
}



body{
        background-color: rgb(214, 231, 238); 
    }
.bodyDark{
  background-color:#0b1220;
}



.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #c0bebe;
  border-radius: 10px 10px 0 0;
}
.navbar-brand {
  color: #333;
  font-weight: bold;
}
.nav-link {
  color: #333;
}
.nav-link:hover {
  text-shadow: 0 0 8px #333;
}
.nav-item {
  margin-right: 20px;
}



#header{
    padding: 100px 0 40px 0;
    text-align: center;
    color: black;
    background-color: #f5f5f5;
}
#header.dark{
    color: #fff;
    background-color: #0b1220;
}
#headerpara{
    color: black;
    background-color: #fff;
    padding: 50px;
}
#headerpara.dark{
    color: #fff;
    background-color: #0f1724;
}